.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	padding: 16px 0px;
	@media (max-width: $md3+px) {
		padding: 28px 0;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #1c242a;
	}
	&__row {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__column {
		&_b {
			flex: 1 1 auto;
			@media (max-width: $md3+px) {
				flex: 0 0 auto;
			}
		}
	}

	&__logo {
		display: block;
		margin: 0px 0px 10px 0px;
		position: relative;
		z-index: 3;
		@media (max-width: $md3+px) {
			position: absolute;
			top: -60%;
			left: 40%;
			width: 100%;
			height: 100%;
			margin: 0px;
		}
		@media (max-width: $md4+px) {
			left: 25%;
		}
	}
}
.header-menu {
	&__menu {
		padding: 0px 0px 0px 30px/970px * 100%;
		@media (max-width: $md3+px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #1c242a, $alpha: 0.8);
			@include anim(0.5s, 0s);
			overflow: auto;
			&.active {
				top: 0;
			}
		}
	}

	&__list {
		position: relative;
		z-index: 3;
		@include flexbox();
		justify-content: center;
		align-items: center;
		li {
			display: block;
			margin: 0px 30px 0px 0px;
			&:last-child {
				margin: 0;
			}
			@media (max-width: $md2+px) {
				margin: 0px 15px 0px 0px;
				&:last-child {
					margin: 0px 15px 0px 0px;
				}
			}
			@media (max-width: $md3+px) {
				margin: 0px 0px 30px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: $md3+px) {
			display: block;
			padding: 100px 0px 20px 0px;
		}
	}

	&__link {
		display: inline-block;
		font-family: "pfdintextcondpro";
		@include fz(14);
		@include lh(21);
		@include ls(1.4);
		color: #fff;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 50%;
			width: 0;
			height: 1px;
			background: #fff;
			@include anim(0.3s, 0s);
		}
		&:hover:after {
			left: 0;
			width: 100%;
		}
		@media (max-width: $md3+px) {
			@include fz(18);
		}
	}
}
.actions-header {
	@include flexbox();
	align-items: center;
	&__regin {
		display: inline-block;
		background: url("../img/icons/menu/01.png") left/ 18px no-repeat;
		font-family: "pfdintextcondpro";
		@include fz(14);
		@include lh(18);
		@include ls(1.4);
		color: #fff;
		padding: 0px 0px 0px 30px;
		margin: 0px 30px 0px 0px;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		min-height: 18px;
		@media (max-width: $md2+px) {
			margin: 0px 15px 0px 0px;
			padding: 0px 0px 0px 18px;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 30px;
			@include fz(18);
		}
		span {
			display: inline-block;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 50%;
				width: 0;
				height: 1px;
				background: #fff;
				@include anim(0.3s, 0s);
			}
			&:hover:after {
				left: 0px;
				width: 100%;
			}
			@media (max-width: $md2+px) {
				display: none;
			}
			@media (max-width: $md3+px) {
				display: inline-block;
			}
		}
	}
}
.user-header {
	position: relative;
	z-index: 2;
	&__icon {
		cursor: pointer;
	}

	&__menu {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 60px;
		right: 0;
		padding: 20px;
		background: #1c242a;
		@include anim(0.3s, 0s);
		li {
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
		&.active {
			visibility: visible;
			opacity: 1;
			top: 50px;
		}
	}

	&__link {
		display: block;
		@include fz(14);
		@include lh(21);
		color: #fff;
		padding: 0px 0px 0px 30px;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
		&_1 {
			background: url("../img/icons/menu/01.png") left no-repeat;
		}

		&_2 {
			background: url("../img/icons/menu/02.png") left no-repeat;
		}

		&_3 {
			background: url("../img/icons/menu/03.png") left no-repeat;
		}

		&_4 {
			background: url("../img/icons/menu/04.png") left no-repeat;
		}
	}
}
body.lock {
	overflow: hidden;
}
